/**
 * Global Reset of all HTML Elements
 *
 * Resetting all of our HTML Elements ensures a smoother
 * visual transition between browsers. If you don't believe me,
 * try temporarily commenting out this block of code, then go
 * and look at Mozilla versus Safari, both good browsers with
 * a good implementation of CSS. The thing is, all browser CSS
 * defaults are different and at the end of the day if visual
 * consistency is what we're shooting for, then we need to
 * make sure we're resetting all spacing elements.
 *
 */
html,
body {
  border: 0;
  font-family: "Helvetica-Neue", "Helvetica", Arial, sans-serif;
  line-height: 1.5;
  margin: 0;
  padding: 0;
}
div,
span,
object,
iframe,
img,
table,
caption,
thead,
tbody,
tfoot,
tr,
tr,
td,
article,
aside,
canvas,
details,
figure,
hgroup,
menu,
nav,
footer,
header,
section,
summary,
mark,
audio,
video {
  border: 0;
  margin: 0;
  padding: 0;
}
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
address,
cit,
code,
del,
dfn,
em,
ins,
q,
samp,
small,
strong,
sub,
sup,
b,
i,
hr,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
legend,
label {
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
  margin: 0;
  padding: 0;
}
article,
aside,
canvas,
figure,
figure img,
figcaption,
hgroup,
footer,
header,
nav,
section,
audio,
video {
  display: block;
}
table {
  border-collapse: separate;
  border-spacing: 0;
}
table caption,
table th,
table td {
  text-align: left;
  vertical-align: middle;
}
a img {
  border: 0;
}
:focus {
  outline: 0;
}
.top {
  background-image: url(../Assets/Unsplash-background/code.png);
  border-bottom: 2px solid indianred;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  display: flex;
  flex-direction: column;
}
.top .screen {
  background: rgba(78, 76, 76, 0.8);
  height: 100vh;
  display: flex;
  flex-direction: column;
}
.top .screen .filler {
  display: flex;
  opacity: 0;
  width: 100%;
  z-index: 2;
  height: 200px;
  margin-top: 50px;
  background-color: blue;
  margin-bottom: -200px;
}
.top .screen #content {
  display: flex;
  flex-direction: column;
  justify-items: center;
  margin: auto;
  text-align: center;
  padding: 30px;
  height: 200px;
  width: 50%;
  border-radius: 10px;
}
@media (min-width: 900px) {
  .top .screen #content {
    height: 330px;
  }
}
@media (max-width: 900px) and (min-width: 600px) {
  .top .screen #content {
    height: 220px;
    width: 70%;
  }
}
@media (max-width: 600px) {
  .top .screen #content {
    width: 70%;
  }
}
.top .screen #content h1 {
  font-size: 3rem;
  color: indianred;
}
@media (max-width: 800px) {
  .top .screen #content h1 {
    font-size: 2.6rem;
  }
}
@media (max-width: 600px) {
  .top .screen #content h1 {
    font-size: 2.2rem;
  }
}
.top .screen #content h2 {
  font-size: 2.4rem;
  text-shadow: 0px 0px 10px indianred;
}
@media (max-width: 800px) {
  .top .screen #content h2 {
    font-size: 1.8rem;
  }
}
@media (max-width: 600px) {
  .top .screen #content h2 {
    font-size: 1.4rem;
  }
}
.top .screen #content h3 {
  font-size: 2.2rem;
  font-family: cursive;
  text-shadow: 0px 0px 10px indianred;
}
@media (max-width: 800px) {
  .top .screen #content h3 {
    font-size: 1.6rem;
  }
}
@media (max-width: 600px) {
  .top .screen #content h3 {
    font-size: 1.4rem;
  }
}
.top .screen .arrow {
  display: flex;
  width: 100px;
  height: 100px;
  margin: 10px auto auto auto;
  border-radius: 50%;
  transition: all 1s ease-in-out;
}
.top .screen .arrow:hover {
  background-color: indianred;
}
@media (max-width: 900px) {
  .top .screen .arrow {
    display: none;
  }
}
.top .screen .arrowSmall {
  display: flex;
  background: rgba(78, 76, 76);
  width: 50px;
  height: 50px;
  margin: 10px auto auto auto;
  border-radius: 50%;
}
.top .screen .arrowSmall:hover {
  background-color: indianred;
}
@media (min-width: 900px) {
  .top .screen .arrowSmall {
    display: none;
  }
}
#navTablet {
  display: flex;
  position: fixed;
  flex-direction: row;
  justify-content: flex-end;
  width: 100%;
  margin: auto;
  padding: 10px 0;
  margin-top: 0px;
  background-color: indianred;
  border-bottom: 4px solid black;
}
@media (min-width: 800px) {
  #navTablet {
    display: none;
  }
}
@media (max-width: 600px) {
  #navTablet {
    display: none;
  }
}
#navTablet .navInfo {
  display: flex;
  flex-direction: row;
  justify-self: flex-start;
  margin: auto auto auto 10px;
}
#navTablet .navInfo h1 {
  width: 100%;
  font-size: 1.3rem;
  margin-left: 10px;
  font-family: 'Audiowide', cursive;
}
#navTablet a {
  text-decoration: none;
  color: black;
  font-size: 1rem;
  margin: 0 10px;
  font-weight: bolder;
  border-radius: 20px;
  max-width: 80px;
  width: 100%;
  text-align: center;
}
#navTablet a:hover {
  color: rgba(78, 76, 76);
  border-bottom: 2px solid rgba(78, 76, 76, 0.8);
}
.navMobile {
  position: fixed;
  top: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
  z-index: 2;
}
@media (min-width: 600px) {
  .navMobile {
    display: none;
  }
}
.navMobile .navInfo {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: row;
  width: 100%;
}
.navMobile .navInfo h1 {
  font-size: 1.3rem;
  margin-left: 10px;
  font-family: 'Audiowide', cursive;
  margin-right: 15%;
}
.navMobile .navIcons:nth-of-type(1) {
  display: flex;
  flex-direction: row;
  padding: 0;
  justify-self: flex-end;
  width: 100%;
}
.navMobile .navMobileSection {
  background: indianred;
  border-bottom: 4px solid black;
  width: 100%;
  display: flex;
  flex-direction: row;
}
.navMobile .display {
  transition: all 1s ease-in-out;
  display: flex;
  justify-content: space-evenly;
  flex-direction: row;
  width: 100%;
  height: 0;
}
.navMobile .display .showable {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  height: 30px;
  width: 50%;
}
.navMobile .display .logo {
  display: flex;
  align-self: center;
  position: fixed;
  opacity: 0;
}
.navMobile .display .navIcons {
  flex-direction: column;
  display: none;
  align-items: flex-end;
  width: 50%;
  margin: -5px 0 10px 0;
}
.navMobile .display .navIcons a {
  margin: 5px 0 5px -40px;
  text-align: right;
}
.navMobile .display .navIcons img {
  height: 50px;
}
.navMobile .display a {
  display: none;
  text-decoration: none;
  padding: 10px 20px;
  color: black;
  font-size: 1.4rem;
  height: 20px;
  border-radius: 20px;
  text-align: left;
  width: 80px;
  transition: all 0.5s ease-in;
}
.navMobile .display a:hover {
  color: indianred;
}
.navMobile .img {
  padding: 10px 20px 10px 10px;
  display: flex;
  justify-content: flex-end;
  margin: 0 0 0 auto;
  cursor: pointer;
}
.navMobile .expand {
  visibility: visible;
  display: flex;
  background-color: rgba(78, 76, 76);
  height: 180px;
  border-bottom: 2px solid indianred;
  transition: all 0.5s ease-in;
}
.navMobile .hide {
  display: none;
}
#navabout {
  width: 100%;
  display: flex;
  flex-direction: column;
}
#navabout .nav {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  width: 100%;
  height: 30px;
  margin: 0 auto;
  padding: 10px 0;
  margin-bottom: 0px;
  background: indianred;
  border-bottom: 4px solid black;
}
@media (max-width: 800px) {
  #navabout .nav {
    display: none;
  }
}
#navabout .nav .navInfo {
  display: flex;
  flex-direction: row;
  justify-self: flex-start;
  margin: auto auto auto 10px;
}
#navabout .nav .navInfo h1 {
  width: 100%;
  font-size: 1.3rem;
  margin-left: 10px;
  font-family: 'Audiowide', cursive;
}
#navabout .nav a {
  display: flex;
  justify-content: space-evenly;
  text-decoration: none;
  color: black;
  font-size: 1rem;
  font-weight: bolder;
  border-radius: 20px;
  margin: 0 10px;
  max-width: 100px;
  width: 100%;
  text-align: center;
}
@media (min-width: 700px) {
  #navabout .nav a:hover {
    color: rgba(78, 76, 76);
    border-bottom: 2px solid rgba(78, 76, 76, 0.8);
  }
}
#navabout .title {
  text-align: center;
  margin: 50px auto auto auto;
  font-size: 3rem;
}
#navabout hr {
  border-bottom: 4px solid black;
  width: 60px;
  margin: 0 auto;
}
#navabout .aboutDiv {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin: 50px auto auto auto;
  padding: 10px;
}
@media (max-width: 800px) {
  #navabout .aboutDiv {
    margin: 100px 10px auto 10px;
  }
}
@media (max-width: 700px) {
  #navabout .aboutDiv {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
  }
}
@media (max-width: 600px) {
  #navabout .aboutDiv {
    margin-top: 80px;
  }
}
#navabout .aboutDiv .myPictureDiv {
  display: flex;
  margin-right: 20px;
}
@media (max-width: 700px) {
  #navabout .aboutDiv .myPictureDiv {
    margin-right: 0;
  }
}
@media (max-width: 600px) {
  #navabout .aboutDiv .myPictureDiv {
    width: 80%;
    margin: auto auto 20px auto;
  }
}
#navabout .aboutDiv .myPictureDiv .myPicture {
  border-radius: 50%;
  display: flex;
  border: 4px solid black;
  width: 100%;
  max-width: 408px;
  height: 100%;
  max-height: 442px;
}
#navabout .aboutDiv .aboutText {
  margin-left: 20px;
  display: flex;
  flex-direction: column;
  align-self: center;
  width: 50%;
  height: 100%;
}
@media (max-width: 700px) {
  #navabout .aboutDiv .aboutText {
    width: 80%;
  }
}
#navabout .aboutDiv .aboutText h2 {
  font-size: 2.4rem;
  text-align: center;
  margin-bottom: 20px;
}
@media (max-width: 800px) {
  #navabout .aboutDiv .aboutText h2 {
    font-size: 2rem;
  }
}
#navabout .aboutDiv .aboutText p {
  font-size: 1rem;
}
@media (max-width: 800px) {
  #navabout .aboutDiv .aboutText p {
    font-size: 0.9rem;
  }
}
.icons {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-evenly;
  margin-bottom: 50px;
}
@media (max-width: 700px) {
  .icons {
    flex-direction: column;
    text-align: center;
    margin: auto;
    width: 80%;
  }
}
.icons .aboutIcons {
  margin: 20px 10px 20px 10px;
  display: flex;
  flex-direction: column;
  text-align: center;
  transition: opacity 1s ease-out;
  padding: 10px;
}
@media (max-width: 700px) {
  .icons .aboutIcons {
    flex-direction: column;
    border: 4px solid indianred;
    background-color: rgba(78, 76, 76);
    border-radius: 10px;
  }
}
.icons .aboutIcons .fas {
  margin-bottom: 10px;
  text-align: center;
  font-size: 6rem;
  color: indianRed;
}
@media (min-width: 700px) {
  .icons .aboutIcons .fas:hover {
    color: rgba(78, 76, 76);
  }
}
@media (max-width: 700px) {
  .icons .aboutIcons .fas {
    color: indianred;
  }
}
.icons .aboutIcons .fab {
  margin-bottom: 10px;
  text-align: center;
  font-size: 6rem;
  color: indianRed;
}
@media (min-width: 700px) {
  .icons .aboutIcons .fab:hover {
    color: rgba(78, 76, 76);
  }
}
@media (max-width: 700px) {
  .icons .aboutIcons .fab {
    color: indianred;
  }
}
.icons .aboutIcons h2 {
  font-size: 1.6rem;
  font-weight: bolder;
}
.icons .aboutIcons p {
  text-align: center;
  font-size: 1rem;
  padding: 0 10px 10px 10px;
}
#projects {
  margin-top: 40px;
  border-top: 4px solid indianred;
  background-color: gray;
}
#projects .title {
  text-align: center;
  margin: 60px auto auto auto;
  font-size: 3rem;
}
#projects hr {
  border-bottom: 4px solid black;
  width: 60px;
  margin: 0 auto 20px auto;
}
#projects .boxTabs {
  display: flex;
  margin: auto;
  justify-content: center;
}
#projects .boxTabs .topics {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 20px;
}
@media (max-width: 700px) {
  #projects .boxTabs .topics {
    flex-direction: column;
  }
}
#projects .boxTabs .topics div {
  font-size: 1.2rem;
  margin: auto 10px auto 10px;
  color: black;
  width: 120px;
  padding: 5px;
  text-align: center;
  cursor: pointer;
}
@media (max-width: 700px) {
  #projects .boxTabs .topics div {
    margin: 10px auto;
    width: 150px;
    font-size: 1.2rem;
  }
}
#projects .boxTabs .topics .activeTab {
  color: black;
  background: indianred;
  transition: all 1s ease-in-out;
  border-radius: 10px;
  font-weight: bolder;
}
#projects .boxes {
  display: flex;
  flex-flow: row wrap;
  margin: auto;
  width: 100%;
  justify-content: center;
}
#projects .boxes .info {
  display: flex;
  flex-flow: column wrap;
  align-content: space-evenly;
  margin: auto 15%;
  padding: 10px;
  padding-left: 10px;
}
#projects .boxes .info li {
  font-size: 1rem;
  border-bottom: 2px solid indianred;
  color: black;
  text-align: center;
  margin: auto 5px;
  padding: 5px 5px;
}
#projects .boxes .info p {
  font-size: 1.2rem;
  color: black;
  text-align: center;
}
#projects .boxes .info h2 {
  font-size: 1.6rem;
  text-align: center;
}
#projects .boxes .info hr {
  border-bottom: 4px solid indianred;
  width: 120px;
  margin-bottom: 20px;
}
#projects .boxes .box {
  margin: 2% 2% 50px 2%;
  display: none;
  height: 250px;
  width: 300px;
  border-radius: 10px;
  transition-property: opacity;
  transition-duration: 1s;
  transition-timing-function: ease;
  transition-delay: 0;
}
#projects .boxes .box .boxContent {
  display: flex;
  position: absolute;
  z-index: 2;
  opacity: 0;
  transition: all 0.5s ease-in-out;
  text-align: center;
  flex-direction: column;
  justify-content: space-between;
  margin: auto;
  width: 300px;
  background-color: lightgray;
  border: 2px solid rgba(78, 76, 76);
  border-radius: 10px;
  height: 250px;
}
#projects .boxes .box .boxContent h2 {
  padding-top: 20px;
  font-size: 1.4rem;
  margin-bottom: 10px;
  color: indianred;
}
#projects .boxes .box .boxContent h3 {
  font-size: 1.4rem;
  font-family: cursive;
  margin-bottom: 10px;
  color: rgba(78, 76, 76);
  padding: 10px;
}
#projects .boxes .box .boxContent h4 {
  font-size: 1.2rem;
  margin-bottom: 10px;
  color: black;
}
#projects .boxes .box .boxContent .boxContentIcons {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
#projects .boxes .box .boxContent .boxContentIcons a {
  text-decoration: none;
  color: black;
  font-size: 1.4rem;
  padding-bottom: 30px;
  color: indianred;
  width: 100px;
}
#projects .boxes .box:nth-child(1) {
  display: flex;
  width: 600px;
  max-height: 500px;
}
#projects .boxes .box:nth-child(2) {
  display: flex;
  width: 100%;
  height: 100%;
}
#projects .boxes .box:nth-child(2) img {
  display: flex;
  width: 100%;
  margin-bottom: 20px;
}
#projects .boxes .box:nth-child(2) hr {
  width: 220px;
}
#projects .boxes .box:nth-child(3) {
  margin: auto 10%;
  width: 100%;
  height: 100%;
}
#projects .boxes .box:nth-child(5) {
  margin: auto 10%;
  width: 100%;
  height: 100%;
}
#projects .boxes .box:nth-child(7) {
  margin: auto 10%;
  width: 100%;
  height: 100%;
}
#projects .boxes .box:nth-child(4) {
  background: url("../Assets/Projects/buildweek/chef-portfolio/chefportfolio.png") center center / cover;
}
#projects .boxes .box:nth-child(6) {
  background: url("https://img.icons8.com/ios-filled/100/000000/closed-sign.png") center;
}
#projects .boxes .box:nth-child(8) {
  background: url("../Assets/Projects/individual/Sprint-JavaScript.png") center center / cover;
}
#projects .boxes .box:nth-child(9) {
  background: url("../Assets/Projects/individual/javascript-dom.png") center center / cover;
}
#projects .boxes .box:nth-child(10) {
  background: url("../Assets/Projects/individual/javascript-api.png") center center / cover;
}
#projects .boxes .box:nth-child(11) {
  background: url("../Assets/Projects/Personal/personal1.png") center center / cover;
}
#contact {
  border-top: 4px solid indianred;
}
#contact .title {
  text-align: center;
  margin: 60px auto auto auto;
  font-size: 3rem;
}
#contact hr {
  border-bottom: 4px solid black;
  width: 90px;
  margin: 0 auto 20px auto;
}
#contact .contactContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 50px auto 50px auto;
  width: 100%;
}
@media (max-width: 600px) {
  #contact .contactContainer {
    flex-direction: column;
    margin: 15px auto 15px auto;
  }
}
#contact .contactContainer .form {
  display: flex;
  margin: auto;
  border: 3px solid indianred;
  border-radius: 5px;
  background-color: gray;
  flex-direction: column;
  width: 45%;
  height: 330px;
  padding: 10px;
}
@media (max-width: 600px) {
  #contact .contactContainer .form {
    margin-bottom: 15px;
    width: 80%;
  }
}
#contact .contactContainer .form h2 {
  margin: 10px auto auto auto;
  text-align: center;
  font-size: 1.6rem;
}
#contact .contactContainer .form hr {
  width: 60px;
  border-bottom: 4px solid indianred;
  margin-bottom: 20px;
}
#contact .contactContainer .form form {
  display: flex;
  flex-direction: column;
  margin: 10px 0 10px 0;
}
#contact .contactContainer .form form input {
  margin: auto auto 10px auto;
  height: 30px;
  width: 130px;
  border: 2px solid indianred;
}
#contact .contactContainer .form form textarea {
  height: 100px;
  width: 70%;
  margin: auto auto 10px auto;
  border: 2px solid indianred;
}
#contact .contactContainer .form form button {
  width: 100px;
  text-align: center;
  margin: auto;
  border-radius: 10px;
  border: 2px solid indianred;
  cursor: pointer;
  padding: 5px 10px;
  background-color: lightgray;
}
#contact .contactContainer .otherContact {
  border: 3px solid indianred;
  display: flex;
  flex-direction: column;
  margin: auto;
  width: 45%;
  height: 330px;
  border-radius: 5px;
  background-color: gray;
  padding: 10px;
}
@media (max-width: 600px) {
  #contact .contactContainer .otherContact {
    margin-top: 30px;
    width: 80%;
  }
}
#contact .contactContainer .otherContact h2 {
  margin: 10px auto auto auto;
  text-align: center;
  font-size: 1.6rem;
}
#contact .contactContainer .otherContact hr {
  width: 60px;
  border-bottom: 4px solid indianred;
  margin-bottom: 20px;
}
#contact .contactContainer .otherContact .githubSection {
  display: flex;
  flex-direction: row;
  margin: auto;
}
#contact .contactContainer .otherContact .githubSection .githubicon {
  display: flex;
  align-self: center;
  margin-top: 10px;
  margin-left: -55px;
}
#contact .contactContainer .otherContact .githubSection .githubAPI {
  margin: 5px 5px 5px 0;
}
#contact .contactContainer .otherContact .githubSection .githubAPI p {
  font-size: 1rem;
}
#contact .contactContainer .otherContact .githubSection .githubAPI p:hover {
  color: lightgray;
}
#contact .contactContainer .otherContact .otherInfo {
  display: flex;
  flex-direction: column;
  margin: auto;
}
#contact .contactContainer .otherContact .otherInfo .contactIcons {
  display: flex;
  flex-direction: row;
  margin: auto;
  justify-content: space-evenly;
}
#contact .contactContainer .otherContact .otherInfo .contactEmailPhone {
  display: flex;
  flex-direction: column;
  margin: auto;
  text-align: center;
  padding: 10px;
}
#contact .contactContainer .otherContact .otherInfo .contactEmailPhone a {
  text-decoration: none;
  font-size: 1.2rem;
  color: black;
  padding: 5px auto 5px auto;
}
#contact .contactContainer .otherContact .otherInfo .contactEmailPhone a:hover {
  color: indianred;
}
.arrowUp {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  flex-direction: row;
  position: fixed;
  bottom: 50px;
  right: 2%;
}
.arrowUp .arrowup {
  opacity: 0.5;
  background-color: rgba(78, 76, 76);
  border-radius: 50%;
}
.arrowUp .arrowup:hover {
  opacity: 0.9;
  background-color: indianred;
}
.footer {
  display: flex;
  bottom: 0;
  flex-direction: row;
  height: 30px;
  margin: auto;
  padding: 10px;
  justify-content: center;
  align-items: center;
  background-color: indianred;
  border-top: 4px solid black;
}
.footer a {
  margin: auto 5px auto 5px;
  font-size: 0.8rem;
}
.footer a i {
  font-size: 1.2rem;
  color: black;
}
.footer h2 {
  font-size: 1.1rem;
  font-family: 'Audiowide', cursive;
}
.footer h3 {
  font-size: 0.8rem;
  margin: auto 10px auto 10px;
}
body {
  font-size: 62.5%;
  font-family: 'Open Sans', sans-serif;
  background-color: lightgray;
}
