/**
 * Global Reset of all HTML Elements
 *
 * Resetting all of our HTML Elements ensures a smoother
 * visual transition between browsers. If you don't believe me,
 * try temporarily commenting out this block of code, then go
 * and look at Mozilla versus Safari, both good browsers with
 * a good implementation of CSS. The thing is, all browser CSS
 * defaults are different and at the end of the day if visual
 * consistency is what we're shooting for, then we need to
 * make sure we're resetting all spacing elements.
 *
 */
html,
body {
  border: 0;
  font-family: "Helvetica-Neue", "Helvetica", Arial, sans-serif;
  line-height: 1.5;
  margin: 0;
  padding: 0;
}
div,
span,
object,
iframe,
img,
table,
caption,
thead,
tbody,
tfoot,
tr,
tr,
td,
article,
aside,
canvas,
details,
figure,
hgroup,
menu,
nav,
footer,
header,
section,
summary,
mark,
audio,
video {
  border: 0;
  margin: 0;
  padding: 0;
}
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
address,
cit,
code,
del,
dfn,
em,
ins,
q,
samp,
small,
strong,
sub,
sup,
b,
i,
hr,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
legend,
label {
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
  margin: 0;
  padding: 0;
}
article,
aside,
canvas,
figure,
figure img,
figcaption,
hgroup,
footer,
header,
nav,
section,
audio,
video {
  display: block;
}
table {
  border-collapse: separate;
  border-spacing: 0;
}
table caption,
table th,
table td {
  text-align: left;
  vertical-align: middle;
}
a img {
  border: 0;
}
:focus {
  outline: 0;
}
.top {
  background-image: url(../Assets/Unsplash-background/backgroundimage.jpeg);
  background-repeat: no-repeat;
  background-size: cover ;
  height: 100vh;
  display: flex;
  flex-direction: column;
}
.top .screen {
  background: rgba(78, 76, 76, 0.1);
  height: 100vh;
  display: flex;
  flex-direction: column;
}
.top .screen #content {
  display: flex;
  border: 4px solid black;
  flex-direction: column;
  justify-items: center;
  background: rgba(78, 76, 76, 0.8);
  margin: auto;
  text-align: center;
  padding: 30px;
  height: 200px;
  width: 50%;
  border-radius: 10px;
}
@media (min-width: 900px) {
  .top .screen #content {
    height: 330px;
  }
}
@media (max-width: 900px) and (min-width: 600px) {
  .top .screen #content {
    height: 220px;
    width: 70%;
  }
}
@media (max-width: 600px) {
  .top .screen #content {
    width: 70%;
  }
}
.top .screen #content h1 {
  font-size: 3rem;
}
@media (max-width: 800px) {
  .top .screen #content h1 {
    font-size: 2.6rem;
  }
}
@media (max-width: 600px) {
  .top .screen #content h1 {
    font-size: 2.2rem;
  }
}
.top .screen #content h2 {
  font-size: 2.6rem;
}
@media (max-width: 800px) {
  .top .screen #content h2 {
    font-size: 2rem;
  }
}
@media (max-width: 600px) {
  .top .screen #content h2 {
    font-size: 1.6rem;
  }
}
.top .screen #content h3 {
  font-size: 2rem;
  font-family: cursive;
}
@media (max-width: 800px) {
  .top .screen #content h3 {
    font-size: 1.4rem;
  }
}
@media (max-width: 600px) {
  .top .screen #content h3 {
    font-size: 1.2rem;
  }
}
.top .screen .arrow {
  display: flex;
  background: rgba(78, 76, 76);
  width: 100px;
  height: 100px;
  margin: 10px auto auto auto;
  border-radius: 50%;
}
@media (max-width: 900px) {
  .top .screen .arrow {
    display: none;
  }
}
.top .screen .arrowSmall {
  display: flex;
  background: rgba(78, 76, 76);
  width: 50px;
  height: 50px;
  margin: 10px auto auto auto;
  border-radius: 50%;
}
@media (min-width: 900px) {
  .top .screen .arrowSmall {
    display: none;
  }
}
#navTablet {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  width: 100%;
  margin: auto;
  padding: 10px 0;
  margin-top: 0px;
  background-color: rgba(78, 76, 76, 0.8);
  border-bottom: 4px solid black;
}
@media (min-width: 800px) {
  #navTablet {
    display: none;
  }
}
@media (max-width: 600px) {
  #navTablet {
    display: none;
  }
}
#navTablet a {
  text-decoration: none;
  color: black;
  font-size: 1rem;
  margin: 0 10px;
  font-weight: bolder;
  border-radius: 20px;
  max-width: 80px;
  width: 100%;
  text-align: center;
}
.navMobile {
  position: fixed;
  top: 0;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  background: #686565;
  width: 100%;
  border-bottom: 4px solid black;
}
@media (min-width: 600px) {
  .navMobile {
    display: none;
  }
}
.navMobile .display {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  height: 50px;
  margin: auto 0 ;
}
.navMobile .display a {
  text-decoration: none;
  color: black;
  font-size: 1.4rem;
  margin: 0 20px;
  font-weight: bolder;
  border-radius: 20px;
  max-width: 80px;
  width: 100%;
  text-align: left;
  margin-left: 20px;
}
.navMobile img {
  padding: 10px;
  display: flex;
  justify-content: flex-end;
  margin: 0 0 0 auto;
}
.navMobile .hide {
  display: none;
}
.navMobile .expand {
  padding-top: 35px;
  height: 150px;
}
#navabout {
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
}
#navabout .nav {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  width: 100%;
  height: 30px;
  margin: 0 auto;
  padding: 10px 0;
  margin-bottom: 0px;
  background: #686565;
  border-bottom: 4px solid black;
  border-top: 4px solid black;
}
@media (max-width: 800px) {
  #navabout .nav {
    display: none;
  }
}
#navabout .nav a {
  display: flex;
  justify-content: space-evenly;
  text-decoration: none;
  color: black;
  font-size: 1rem;
  font-weight: bolder;
  border-radius: 20px;
  margin: 0 10px;
  max-width: 100px;
  width: 100%;
  text-align: center;
}
#navabout .aboutDiv {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin: auto;
  padding: 10px;
}
@media (max-width: 800px) {
  #navabout .aboutDiv {
    margin-top: -38px;
  }
}
@media (max-width: 700px) {
  #navabout .aboutDiv {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
  }
}
@media (max-width: 600px) {
  #navabout .aboutDiv {
    margin-top: 80px;
  }
}
#navabout .aboutDiv .myPictureDiv {
  display: flex;
  margin-right: 20px;
}
@media (max-width: 600px) {
  #navabout .aboutDiv .myPictureDiv {
    margin-bottom: 20px;
    width: 80%;
    margin-right: 0px;
  }
}
#navabout .aboutDiv .myPictureDiv .myPicture {
  border-radius: 50%;
  display: flex;
  border: 4px solid black;
  width: 100%;
  max-width: 408px;
  height: 100%;
  max-height: 442px;
}
#navabout .aboutDiv .aboutText {
  margin-left: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 50%;
  height: 100%;
}
@media (max-width: 700px) {
  #navabout .aboutDiv .aboutText {
    width: 80%;
  }
}
#navabout .aboutDiv .aboutText h2 {
  font-size: 2.4rem;
  text-align: center;
  margin-bottom: 20px;
}
@media (max-width: 800px) {
  #navabout .aboutDiv .aboutText h2 {
    font-size: 2rem;
  }
}
#navabout .aboutDiv .aboutText p {
  font-size: 1rem;
}
@media (max-width: 800px) {
  #navabout .aboutDiv .aboutText p {
    font-size: 0.9rem;
  }
}
body {
  font-size: 62.5%;
  font-family: 'Open Sans', sans-serif;
  background-color: seashell;
}
