/**
 * Global Reset of all HTML Elements
 *
 * Resetting all of our HTML Elements ensures a smoother
 * visual transition between browsers. If you don't believe me,
 * try temporarily commenting out this block of code, then go
 * and look at Mozilla versus Safari, both good browsers with
 * a good implementation of CSS. The thing is, all browser CSS
 * defaults are different and at the end of the day if visual
 * consistency is what we're shooting for, then we need to
 * make sure we're resetting all spacing elements.
 *
 */
html,
body {
  border: 0;
  font-family: "Helvetica-Neue", "Helvetica", Arial, sans-serif;
  line-height: 1.5;
  margin: 0;
  padding: 0;
}
div,
span,
object,
iframe,
img,
table,
caption,
thead,
tbody,
tfoot,
tr,
tr,
td,
article,
aside,
canvas,
details,
figure,
hgroup,
menu,
nav,
footer,
header,
section,
summary,
mark,
audio,
video {
  border: 0;
  margin: 0;
  padding: 0;
}
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
address,
cit,
code,
del,
dfn,
em,
ins,
q,
samp,
small,
strong,
sub,
sup,
b,
i,
hr,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
legend,
label {
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
  margin: 0;
  padding: 0;
}
article,
aside,
canvas,
figure,
figure img,
figcaption,
hgroup,
footer,
header,
nav,
section,
audio,
video {
  display: block;
}
table {
  border-collapse: separate;
  border-spacing: 0;
}
table caption,
table th,
table td {
  text-align: left;
  vertical-align: middle;
}
a img {
  border: 0;
}
:focus {
  outline: 0;
}
.top {
  background-image: url(../Assets/Unsplash-background/photo-1426170042593-200f250dfdaf.jpeg);
  background-repeat: no-repeat;
  filter: brightness(180%);
  background-size: cover ;
  height: 870px;
  display: flex;
  flex-direction: column;
}
.top .content {
  display: flex;
  border: 2px solid black;
  flex-direction: column;
  justify-content: center;
  margin: auto auto 10px auto;
  text-align: center;
  padding: 30px;
  width: 50%;
  background: rgba(78, 76, 76, 0.8);
  border-radius: 10px;
}
@media (max-width: 600px) {
  .top .content {
    width: 70%;
  }
}
.top .content h1 {
  font-size: 3rem;
}
@media (max-width: 800px) {
  .top .content h1 {
    font-size: 2.6rem;
  }
}
@media (max-width: 600px) {
  .top .content h1 {
    font-size: 2.2rem;
  }
}
.top .content h2 {
  font-size: 2.6rem;
}
@media (max-width: 800px) {
  .top .content h2 {
    font-size: 2rem;
  }
}
@media (max-width: 600px) {
  .top .content h2 {
    font-size: 1.6rem;
  }
}
.top .content h3 {
  font-size: 2rem;
  font-family: cursive;
}
@media (max-width: 800px) {
  .top .content h3 {
    font-size: 1.4rem;
  }
}
@media (max-width: 600px) {
  .top .content h3 {
    font-size: 1.2rem;
  }
}
.top .arrow {
  display: flex;
  background: rgba(78, 76, 76, 0.8);
  width: 100px;
  height: 100px;
  margin: 10px auto auto auto;
  border-radius: 50%;
}
@media (max-width: 700px) {
  .top .arrow {
    display: none;
  }
}
.top .arrowSmall {
  display: flex;
  background: rgba(78, 76, 76, 0.8);
  width: 50px;
  height: 50px;
  margin: 10px auto auto auto;
  border-radius: 50%;
}
@media (min-width: 700px) {
  .top .arrowSmall {
    display: none;
  }
}
.nav {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  width: 100%;
  margin: auto;
  padding: 10px 0;
  margin-bottom: 0px;
  background: black;
  border-bottom: 4px solid rgba(78, 76, 76, 0.8);
  border-top: 4px solid rgba(78, 76, 76, 0.8);
}
@media (max-width: 800px) {
  .nav {
    display: none;
  }
}
.nav a {
  text-decoration: none;
  color: rgba(78, 76, 76, 0.8);
  font-size: 1rem;
  margin: 0 10px;
  font-weight: bolder;
  border-radius: 20px;
  max-width: 100px;
  width: 100%;
  text-align: center;
}
.navTablet {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  width: 100%;
  margin: auto;
  padding: 10px 0;
  margin-top: 0px;
  background-color: black;
  border-bottom: 4px solid rgba(78, 76, 76, 0.8);
}
@media (min-width: 800px) {
  .navTablet {
    display: none;
  }
}
@media (max-width: 500px) {
  .navTablet {
    display: none;
  }
}
.navTablet a {
  text-decoration: none;
  color: rgba(78, 76, 76, 0.8);
  font-size: 1rem;
  margin: 0 10px;
  font-weight: bolder;
  border-radius: 20px;
  max-width: 80px;
  width: 100%;
  text-align: center;
}
.navMobile {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: rgba(78, 76, 76);
  width: 100%;
  height: 40px;
  border-bottom: 4px solid black;
}
@media (min-width: 501px) {
  .navMobile {
    display: none;
  }
}
.navMobile .display a {
  text-decoration: none;
  color: black;
  font-size: 1rem;
  margin: 0 10px;
  font-weight: bolder;
  border-radius: 20px;
  max-width: 80px;
  width: 100%;
  text-align: center;
}
.navMobile img {
  margin-left: 10px;
}
.navMobile .hide {
  display: none;
}
.navMobile .opacity {
  opacity: 0;
}
body {
  font-size: 62.5%;
  font-family: 'Open Sans', sans-serif;
}
