#navabout {
    
    width: 100%;
    display: flex;
    flex-direction: column;


    .nav {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        width: 100%;
        height: 30px;
        margin: 0 auto;
        padding: 10px 0;
        margin-bottom: 0px;
        background: indianred;
        border-bottom: 4px solid black;
        // border-top: 4px solid black;
      
        @media (max-width: 800px) {
            display: none;
        }
       
        a {
          display: flex;
          justify-content: space-evenly;
          text-decoration: none;
          color: black;
          font-size: 1rem;
          font-weight: bolder;
          border-radius: 20px;
          margin: 0 10px;
          max-width: 100px;
          width: 100%;
          text-align: center;

          @media (min-width: 700px) {
          &:hover {
              color: rgba(78, 76, 76);
              border-bottom: 2px solid rgba(78, 76, 76, 0.8);
          }
        }
        }

        // .clicked {
        //     color: rgba(78, 76, 76);
        //     border-bottom: 2px solid rgba(78, 76, 76, 0.8);
        // }

      } 

    .aboutDiv {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        margin: 100px auto auto auto;
        padding: 10px;
        
        @media (max-width: 800px) {
            margin: 100px 10px auto 10px;
        }

        @media (max-width: 700px) {
            flex-direction: column;
            justify-content: center;
            align-items: center;
            margin-top: 100px;
        }

        @media (max-width: 600px) {
            margin-top: 80px;

        }

        .myPictureDiv {
            display: flex;
            margin-right: 20px;

            @media (max-width: 700px) {
                margin-right: 0;
            }
            @media (max-width: 600px) {
                width: 80%;
                margin: auto auto 20px auto;
    
            }
    
        .myPicture {
            border-radius: 50%;
            display: flex;
            border: 4px solid black;
            width: 100%;
            max-width: 408px;
            height: 100%;
            max-height: 442px;

            

        }

    }

        .aboutText {
            margin-left: 20px;
            display: flex;
            flex-direction: column;
           
            width: 50%;
            height: 100%;
            
            @media (max-width: 700px) {
               width: 80%;
            }
            

            h2 {
                font-size: 2.4rem;
                text-align: center;
                margin-bottom: 20px;

                @media (max-width: 800px) {
                    font-size: 2rem;
        
                }
            }

            p {
                font-size: 1rem;

                @media (max-width: 800px) {
                    font-size: .9rem;
        
                }


            }


        }


        


    }

}

.icons {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-evenly;
    margin-bottom: 50px;


    @media (max-width: 700px) {
        flex-direction: column;
        text-align: center;
        margin: auto;
        width: 80%;
    }

    .aboutIcons {
        margin: 20px 10px 20px 10px;
        display: flex;
        flex-direction: column;
        text-align: center;
       
        padding: 10px;

       

        @media (max-width: 700px) {
            flex-direction: column;
            border: 4px solid indianred;
            background-color: rgba(78, 76, 76);
            border-radius: 10px;

            &:hover {
                background-color: indianred;
                border: 4px solid rgba(78, 76, 76);
            }
        }

        .fas {
            margin-bottom: 10px;
            text-align: center;
            font-size: 6rem;
            color: indianRed;

            &:hover {
              color: rgba(78, 76, 76);
            }

            @media (max-width: 700px) {
                color: indianred;

                &:hover {
                    color: rgba(78, 76, 76);
                }

            }
        }

        

        .fab {
            margin-bottom: 10px;
            text-align: center;
            font-size: 6rem;
            color: indianRed;

            

            &:hover {
                color: rgba(78, 76, 76);
              }

              @media (max-width: 700px) {
                color: indianred;

                &:hover {
                    color: rgba(78, 76, 76);
                }
            }
        }

        h2 {
            font-size: 1.6rem;
            font-weight: bolder;
        }

        p {
            text-align: center;
            // background-color: indianred;
            // border: 4px solid rgba(78, 76, 76);
            font-size: 1rem;
            padding: 0 10px 10px 10px;
            // border-radius: 10px;
        }
       
    }

}


