#contact {
    border-top: 4px solid indianred;
    .title {
        text-align: center;
        margin: 60px auto auto auto;
        font-size: 3rem;
      }
    
      hr {
        border-bottom: 4px solid black;
        width: 90px;
        margin: 0 auto 20px auto;
    }

    .contactContainer {
        display: flex;
        flex-direction: row;
        justify-content: center;
        margin: 50px auto 50px auto;;
        width: 100%;
       

        @media (max-width: 600px) {
            flex-direction: column;
            margin: 15px auto 15px auto
            
        }
    
        .form {
            display: flex;
            margin: auto;
            border: 3px solid indianred;
            border-radius: 5px;
            background-color: #4e4c4c;
            flex-direction: column;
            width: 45%;
            height: 330px;
            padding: 10px; 

            @media (max-width: 600px) {
                margin-bottom: 15px;
                width: 80%;
            }

            h2 {
                margin: 10px auto auto auto;
                text-align: center;
                font-size: 1.6rem;

            }

            hr {
                width: 60px;
                border-bottom: 4px solid indianred;
                margin-bottom: 20px;
            }

            form {
                display: flex;
                flex-direction: column;
                margin: 10px 0 10px 0;
                
               
                input {
                    margin: auto auto 10px auto;
                    height: 30px;
                    width: 130px;
                    border: 2px solid indianred;
                    
                    
                }
                 
               textarea {
                    height: 100px;
                    width: 70%;
                    margin: auto auto 10px auto;
                    border: 2px solid indianred;
                    
               }

               button {
                   width: 100px;
                   text-align: center;
                   margin: auto;
                   border-radius: 10px;
                   border: 2px solid indianred;
                   cursor: pointer;
                   padding: 5px 10px;
                   background-color: lightgray;
               } 
            }  
        }

        .otherContact {
            border: 3px solid indianred;
            display: flex;
            flex-direction: column;
            margin: auto;
            width: 45%;
            height: 330px; 
            border-radius: 5px;
            background-color: #4e4c4c;
            padding: 10px;

            @media (max-width: 600px) {
                margin-top: 30px;
                width: 80%;
            }

            

            h2 {
                margin: 10px auto auto auto;
                text-align: center;
                font-size: 1.6rem;

            }

            hr {
                width: 60px;
                border-bottom: 4px solid indianred;
                margin-bottom: 20px;
            }
            

            .githubSection {
                display: flex;
                flex-direction: row;
                margin: auto;
               

                .githubicon {
                    display: flex;
                    align-self: center;
                    margin-top: 10px;
                    margin-left: -55px;
                }

                .githubAPI {
                    
                    margin: 5px 5px 5px 0;

                    p {
                        font-size: 1rem;

                        &:hover {
                            color: lightgray;
                        }
                    }
                }
            }

            .otherInfo {
                display: flex;
                flex-direction: column;
                margin: auto;

                .contactIcons {
                    display: flex;
                    flex-direction: row;
                    margin: auto;
                    justify-content: space-evenly;
                }

                .contactEmailPhone {
                    display: flex;
                    flex-direction: column;
                    margin: auto;
                    text-align: center;
                    padding: 10px;

                    a {
                        text-decoration: none;
                        font-size: 1.2rem;
                        color: black;
                        padding: 5px auto 5px auto;

                        &:hover {
                            color: indianred;
                        }
                    }
                }
            }

        }
    }

}

.arrowUp {
 width: 100%;
 display: flex;
 justify-content: flex-end;
 flex-direction: row;
 position: fixed;
 bottom: 50px;
 right: 2%;
 
    
    .arrowup {
        opacity: .5;
        background-color: @gray;
        border-radius: 50%;

        &:hover {
            opacity: .9;
            background-color: indianred;
        }
    }

    }