.nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 600px;
  margin: auto;
  padding: 10px;
  margin-bottom: 0px;

  a {
    text-decoration: none;
    color: black;
    font-size: 1.6rem;
    margin: 0 10px; 
    border: 2px solid black;
    border-radius: 20px;
    width: 130px;
    background: rgba(78, 76, 76, 0.8);
    text-align: center;
  }
} 
