#projects {
    margin-top: 40px;
    border-top: 4px solid indianred;

    .title {
        text-align: center;
        margin: 60px auto 20px auto;
        font-size: 3rem;
    }

    .boxTabs {
        display: flex;
        margin: auto;
        justify-content: center;

    .topics {
        display: flex;
        flex-direction: row;
        justify-content: center;
        padding: 20px;

        @media (max-width: 700px) {
            flex-direction: column;
        }
        

        div {
            font-size: 1rem;
            margin: auto 10px auto 10px;
            color: black;
            border: 4px solid black;
            border-radius: 10px;
            background-color: indianred;
            width: 100px;
            padding: 10px;
            text-align: center;
            cursor: pointer;

            @media (max-width: 700px) {
                margin: 10px auto;
                width: 150px;
                font-size: 1.2rem;
            }
        }

        .activeTab {
            color: indianred;
            border: 4px solid indianred;
            background-color: black;
        }
    }

}
    .boxes {
        display: flex;
        flex-flow: row wrap;
        margin: auto;
        width: 100%;
        justify-content: center;

    .box {
        margin-top: 5px;
        margin-bottom: 5px;
        

        img {
            height: 250px;
            width: 300px;
            border: 4px solid @gray;
            border-radius: 10px;
            margin-left: 10px;
            margin-right: 10px;
            position: relative;
        }

        .boxContent {
            display: none;
            text-align: center;
            flex-direction: column;
            justify-content: center;
            margin: -133px auto auto auto;
            border: 4px solid @gray;
            width: 300px;
            background-color: black;;
            border-radius: 10px;
            opacity: .9;
            top: 50%;
            transform: translate(0, -50%);
            height: 250px;

            h2 {
                font-size: 1.4rem;
                margin-bottom: 10px;
                color: @gray;
            }

            h3 {
                font-size: 1.4rem;
                font-family: cursive;
                margin-bottom: 10px;
                color: @gray;
            }

            a {
                text-decoration: none;
                color: black;
                font-size: 1.4rem;
                margin-bottom: 10px;
                color: @gray;

                &:hover {
                    color: indianred;
                }

            }

            

        }
            

    }

}

    }