.top {
    background-image: url(../Assets/Unsplash-background/photo-1426170042593-200f250dfdaf.jpeg);
    background-repeat: no-repeat;
    filter: brightness(180%);
    background-size: cover ;
    height: 100vh;
    display: flex;
    flex-direction: column;

    .content {
        display: flex;
        border: 2px solid black;
        flex-direction: column;
        justify-content: center;
        margin: auto;
        text-align: center;
        padding: 30px;
        width: 50%;
        background: rgba(78, 76, 76, 0.8);
        border-radius: 10px;

        @media (max-width: 600px) {
            width: 70%;
        }

        h1 {
            font-size: 3rem;

            @media (max-width: 800px) {
                font-size: 2.6rem;
            }

            @media (max-width: 600px) {
                font-size: 2.2rem;
            }
        }

        h2 {
            font-size: 2.6rem;

            @media (max-width: 800px) {
                font-size: 2rem;
            }

            @media (max-width: 600px) {
                font-size: 1.6rem;
            }
        }
            
        h3 {
            font-size: 2rem;
            font-family: cursive;

            @media (max-width: 800px) {
                font-size: 1.4rem;
            }

            @media (max-width: 600px) {
                font-size: 1.2rem;
            }
        }
        }

    
    



    .arrow {
        display: flex;
        background:rgba(78, 76, 76, 0.8);
        width: 100px;
        height: 100px;
        margin: 0 auto;
        border-radius: 50%;

        @media (max-width: 600px) {
            display: none;
        }

    }
        .arrowSmall {
        display: flex;
        background:rgba(78, 76, 76, 0.8);
        width: 50px;
        height: 50px;
        margin: 0 auto;
        border-radius: 50%;

        @media (min-width: 600px) {
            display: none;
        } 
        }
 

}

