.top {
    background-color: ivory;
    background-image: url(../Assets/Unsplash-background/photo-1426170042593-200f250dfdaf.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 850px;
    border: 2px solid black;
    display: flex;
    flex-direction: column;

    .content {
        display: flex;
        border: 2px solid black;
        flex-direction: column;
        justify-content: center;
        margin: auto;
        text-align: center;
        padding: 30px;
        
        background: rgba(63, 62, 62, 0.6);
        border-radius: 10px;

        h1 {
            font-size: 3rem;
        }

        h2 {
            font-size: 2.6rem;
            
        }

        h3 {
            font-size: 2rem;
            font-family: cursive;
        }
    }

    .arrow {
        display: flex;
        background: rgba(63, 62, 62, 0.6);
        width: 100px;
        height: 100px;
        margin: 0 auto;
        border-radius: 50%;
    }
 

}